  <div class="card center budget-card" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-title budget-title">{{title}}</h5>
      <p class="budget-values">${{currentValue}} <small class="text-muted text-size-sm">/ ${{maxValue}}</small></p>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{percentageFilled}}%" aria-valuenow="{{percentageFilled}}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div id="budget-buttons align-right" class="hidden">
        <p class="text-danger">Warning! Reset your budget only at the end of the month!</p>
        <a href="/budget/reset/{{_id}}" class="btn btn-warning">Reset</a>
        <a href="/budget/delete/{{_id}}" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>