<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8b7a754720.js" crossorigin="anonymous"></script>
    <title>Expense tracker</title>
</head>
<body><!-- Navbar -->
    {{!-- {{#with user}}
    <ul class="nav justify-content-end">
    <li class="nav-item">
    <p class="display-7">{{username}}</p>
    </li>
    <li>
    <p class="display-7">{{balance}}</p>
    </li>
    <li class="nav-item">
    <a href="/transaction/history" id="showHistoryButton">Show History</a>
    </li>
    <li class="nav-item">
    <a href="/budget/create" id="addBudgetButton">Create a Budget</a>
    </li>
    <li class="nav-item">
    <a href="/transaction/add" id="addTransactionButton" >Add Transaction</a>
    </li>
    </ul>
    {{/with}} --}}
    {{#if user}}
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item btn btn-secondary" href="/" id="">Budgets</a>
        <a class="nav-item btn btn-secondary" href="/transaction/history" id="showHistoryButton">Show History</a>
        <a class="nav-item btn btn-secondary" href="/budget/create" id="addBudgetButton">Create a Budget</a>
        <a class="nav-item btn btn-secondary" href="/transaction/deposit" id="depositButton">Make a Deposit</a>
        <a class="nav-item btn btn-success nav-btn" href="/transaction/add" id="addTransactionButton" >Add Transaction</a>
    </nav>
    <br>
    {{#with user}}
    <nav class="nav">
        <span class="hello a" >Hello, {{username}}!</span>
        <span class="hello">Your current balance is: {{balance}}</span>
    </nav>
    {{/with}}
    {{/if}}
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>